* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Ruda', sans-serif;
    background-color: #f2f2f2;
    /* position: relative; */
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .div-bodyy {
        width: 750px;
    }
    .insert-todo {
        width: 100px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .div-bodyy {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .div-bodyy {
        width: 117px;
    }
}

button,
.chb {
    cursor: pointer;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 10px;
    background-color: #ffd777;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

.logo {
    width: 60px;
}

.title {
    margin-left: 2%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffd777;
}

.navbar li {
    float: left;
}

.navbar button {
    /* border-radius: 5px; */
    border: 0px;
    margin-left: 20px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 6px;
    text-decoration: none;
    background-color: #ffd777;
}

a:active {
    background-color: #111;
}


/* Change the link color to #111 (black) on hover */

.navbar li a:hover {
    background-color: #111;
}


/* a {
    display: block;
    padding: 3px;
    background-color: #dddddd;
} */

.paraghraph {
    margin-left: 17%;
    margin-top: 2.5%;
    margin-right: -4%;
    padding: 1%;
    color: #797979;
    font-size: large;
    background-color: #f2f2f2;
    min-width: 70px;
    max-width: fit-content;
}

.bodyOfMyDiv {
    width: 95%;
}

.listToDo {
    max-width: 61%;
    min-width: 20%;
    margin-left: 18%;
    margin-top: 2.5%;
    /* margin-right: 10%; */
    align-items: center;
    background-color: white;
    padding: 1%;
    box-shadow: 0 4px 2px -2px gray;
    position: relative;
}

.labelInsert,
.labelUpdate {
    vertical-align: top;
}

.addTask {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 1%;
    background-color: #5CB8C5;
    color: white;
    padding: 7px, 10px;
    border: 2px #797979;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    max-width: fit-content;
    min-width: 100px;
    font-size: 15px;
}

h4 {
    color: #797979;
    padding: 10px;
    font-size: large;
}

.tabel {
    width: 100%;
    overflow-x: auto;
}

table {
    /* position: absolute; */
    margin-left: 2%;
    border-collapse: collapse;
    /* width: 100%; */
    align-items: center;
    /* font-weight: bold; */
}

th {
    font-weight: bold;
    cursor: pointer;
}

.dragrop {
    cursor: grabbing;
    /* background-color: #ffd777; */
}

td {
    max-width: 600px;
    font-size: small;
    text-align: center;
    color: #f2f2f2;
}

td,
th {
    border: 0.5px solid #d3d2d2;
    color: #797979;
    padding: 8px;
    margin-left: 2%;
}

td .Tag {
    background-color: rgb(236, 206, 71);
}

.insertTask,
.updateTasks {
    max-width: 61%;
    min-width: 20%;
    margin-left: 18%;
    margin-top: 2.5%;
    align-items: center;
    background-color: white;
    padding: 2%;
    box-shadow: 0 4px 2px -2px gray;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
    display: none;
}

.labelInsert,
.labelUpdate {
    vertical-align: top;
}

.addInfo,
.chosePriority,
.tags,
.buttons,
.updateInfo,
.dateForTask,
.updatePriority,
.tags {
    margin-bottom: 3%;
}

.buttons {
    margin-left: 85%;
    min-width: 200px;
}

#newSaveBtn,
#updateSaveBtn,
#updateCancelBtn,
#newCancelBtn {
    padding: 10px;
}

#newSaveBtn,
#updateSaveBtn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    margin-left: 20px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}

#updateCancelBtn,
#newCancelBtn {
    background-color: red;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}

.PopUpForms {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}


/* The popup form - hidden by default */

.form-popup {
    /* display: none; */
    margin: auto;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 35%;
    height: 45%;
    /* border: 0.25px solid whitesmoke; */
}


/* Add styles to the form container */

.form-container {
    /* width: 60%; */
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: auto;
}


/* Set a style for the submit/login button */

.form-container .btnOK,
.btnOK1 {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .btnCancel,
.btnCancel1 {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.icons {
    width: 100px;
}

.icons #done {
    background-color: green;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    margin-left: 12%;
    margin-bottom: 3px;
}

.icons #delete {
    background-color: red;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3px;
}

.icons #edit {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3px;
}
